@charset "UTF-8";

:root
    {
        --branco: white;
        --preto: black;
        --clean: none;
        --cor_castanha: rgb(230, 133, 65);
        --fonte_principal: 'test';
        --fonte_sub_principal: 'test_2';
    }

*{ padding: 0px; margin: 0px; color: white; }

img#logotipo{ position: absolute; left: 18.6%; }

img#bar { position: absolute;  }

a{ font-family: 'test'; text-decoration:none; font-size:16px; font-weight:500; padding: 0px 20px;   }
