
header { height: 822px; background-image: url(/images/menus/kobbyolivier_home4.jpg); background-size: auto; background-position:center ; }

body { height: 4000px; }

nav { position: absolute; left:41.8%; top: 7.4%; }

section { border: 1px solid black; height: 750px;   }


.chef { background-color:#271B19 ; }